<div class="wrapper wrapper-padding clearfix">
	<div class="col-1 about homepage-content">
		<img src="http://students.washington.edu/aayush19/images/profile.jpg" alt="profile">
	</div>
	<div class="col-1 about homepage-content">
		<h2>About Me</h2>
		<hr>
		<p>I am a rising senior studying <a href="https://ischool.uw.edu/academics/informatics" target="_blank">Informatics</a> at the University of Washington, Seattle.</p>
		<p>I am currently working as a Software Engineering Intern at <a href="http://www.sonos.com/" target="_blank">Sonos</a> in Santa Barbara, CA. In Fall 2017, I'll be working as the Webmaster at <a href="http://www.asuw.org/" target="_blank">Associated Students of the University of Washington</a>.</p>
		<p>My email address is aayush19 [at] uw [dot] edu.
	</div>
</div>
